
.flex-grid {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#thumbnails-div {
  background-color: yellow;
  flex-wrap: wrap;
}

#about-div {
  background-color: lightBlue;
  width: 40%;
  height: stretch;
}

.thumbnail {
  max-width: 33%;
  min-width: 33%;
}

.thumbnail-img {
  max-width: 100%;
  min-width: 100%;
}

#video {
  max-width: 60%;
  min-width: 60%;
  max-height: 70vh;
}

.thumbnail-text {
  margin: 0px;
}

#title {
  margin: 0px;
  background-color: transparent;
  border: none;
  flex: 1;
  font-family: Verdana, Arial, sans-serif;
  font-size: 30px;
  min-width: 0;
  resize: none;
}
#title-div {
  align-items: end;
}

.removed {
  display: none !important;
}

.tag {
  background-color: lightgrey;
  font-family: Lucida Console, monospace;
  padding: 2px;
  border: 2px, solid, black;
  border-radius: 10px;
  font-size: 16px;
}

.search-item {
  background-color: lightskyblue;
  font-family: Lucida Console, monospace;
  padding: 2px;
  border: 1px, solid, black;
  border-radius: 7px;
  font-size: 14px;
}

.tag-padding {
  padding-left: 0.65em;
  padding-right: 0.65em;
}

.x {
  font-size: inherit !important;
}

#tag-list {
  flex-wrap: wrap;
  align-items: center;
}

#search-list {
  margin: 0px;
}

#tag-label {
  font-family: Verdana, Arial, sans-serif;
  margin-bottom: 2px;
  font-size: 18px;
}

#about-div {
  margin: 5px;
}
